.searched-result_apps-container {
  height: 116px;

  .searched-result_apps-container-border-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    border-bottom: 1px solid #cacaca;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #000;

    .searched-result_index {
      width: 10%;
      color: #808080;
    }
  
    .searched-result_image {
      width: 20%;

      &.odd-image {
        border-radius: 12px;
      }

      &.even-image {
        border-radius: 50%;
      }
    }
  
    .searched-result_content {
      width: 70%;
      padding-left: 8px;

      .searched-result_title {
        margin-bottom: 8px;
      }

      .searched-result_category {
        color: #808080;
        font-size: 12px;
        margin-bottom: 8px;
      }

      .searched-result_rating {
        color: #808080;
        font-size: 10px;

        .fa-star {
          color: rgb(255, 150, 0);
        }

        .searched-result_rating-count {
          margin-left: 4px;
        }
      }
    }
  }
}