.app-listing_container{
  border-top: 1px solid #cacaca;

  .app-listing_loading-container {
    display: flex;
    justify-content: center;
    margin: 24px 0;
  }

  .app-listing_apps-container {
    padding: 0px 16px;
    height: 116px;
    cursor: pointer;
    text-decoration: none;
    display: block;
  
    .app-listing_apps-container-border-bottom {
      border-bottom: 1px solid #cacaca;
      display: flex;
      align-items: center;
      padding: 4px 8px;
      height: 100%;
      color: #000;

      .app-listing_index {
        width: 10%;
        color: #808080;
      }
    
      .mobile-only {
        width: 20%;
      }

      .tablet-only,
      .browser-only {
        width: 10%;
        margin-right: 24px;
      }

      .app-listing_image {
        width: 100%;

        &.odd-image {
          border-radius: 12px;
        }

        &.even-image {
          border-radius: 50%;
        }
      }
    
      .app-listing_content {
        width: 70%;
        padding-left: 8px;

        .app-listing_title {
          margin-bottom: 8px;
        }

        .app-listing_category {
          color: #808080;
          font-size: 12px;
          margin-bottom: 8px;
        }

        .app-listing_rating {
          color: #808080;
          font-size: 10px;

          .fa-star {
            color: rgb(255, 150, 0);
          }

          .app-listing_rating-count {
            margin-left: 4px;
          }
        }
      }
    }
  }
}